#menu header {
	background: rgba(0,0,0,0.7);
	width: 100%;
	position: fixed;
	z-index: 100;
}

/*se utiliza para el menu principal*/
#menu nav {
	float: right;
}
#menu nav ul {
	list-style: none;
	overflow: hidden; 
}
#menu nav ul li {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-right: 15px;
}
#menu nav ul li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
}
#menu nav ul li:hover {
	background: #eca023;
}				
/*Cuerpo*/
body{
	background: #FFFFFF ;
	
}

/*Formulario*/

form{
	font-family: tahoma;
	width: 50%;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
	border-radius: 15px 15px 15px;
	background-color: #cccc99;

}

/*PARA BOTON REGRESAR*/
#btnRgr ul {
	list-style: none;
	overflow: hidden; 
}
#btnRgr ul li {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background: gray;
	border-radius: 15px;
}
#btnRgr ul li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}
#btnRgr ul li:hover {
	background: #eca023;
}

/*Lo demas*/
h2{
	margin-left: 15px;
}


main{
	height: 70%;
	background-color: #1252BA;
	border-radius: 10px;
}
		
/*Arreeglo de contenido*/
#tituloSeccion{
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	margin: 15px auto;
	color: white;
}

#contenidoSeccion{
	text-align: justify;
	font-family: Tahoma;
	font-size: 14px;
	padding: 0px 20px;
	color: white;
}

#contenido{
	width: 95%;
	height: 510px;
	margin:15px auto;
	border: solid 1px #ccc;
	border-radius: 10px;
	box-shadow: 3px 3px 3px gray;
	overflow: auto; /*por desbordamiento que aparezca una barra de desplazamiento si se ocupa*/
	
}
/*------------------------------------------------------------------------------------------------*/


/*pie de pagina*/
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: rgb(178, 186, 187);
	clear:both;
	border-radius: 15px;
	border: rgb(231, 76, 60) solid 1px;
}


/*Contenido de la pagina principal*/

#ContenidoP{
	width: 95%;
	margin:15px 15px 15px auto;
	border-radius: 10px;
	overflow: auto; /*por desbordamiento que aparezca una barra de desplazamiento si se ocupa*/
	font-size: 18px;
	font-family: tahoma;
	color: white;
}

#ContenidoP ul{
	list-style: none;
	font-family: tahoma;
	color: white;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------admin-menu---------------------------------------------*/

#menuAdmin ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
}

#menuAdmin li{
	float: left;
}

#menuAdmin li a{
	margin: 7px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px 5px 5px;
}

#menuAdmin li a:hover{
	 background-color: #111;
	 border-radius: 5px 5px 5px;
}
/*boton de cerrar sesion*/

#menuAdmin2 li{
	float: right;
}

#menuAdmin2 li a{
	margin: 7px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px 5px 5px;
}

#menuAdmin2 li a:hover{
	 background-color: #111;
	 border-radius: 5px 5px 5px;
}

/*------------------------------------------------------------------------*/
/*pa'la foto*/
#foto img{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px;
}
/*Contenedor de las sesiones*/
#contenedor{
	width:100%;
	height: 500px;
	background-color: rgb(95, 106, 106 );
	border-radius: 5px 5px 5px;
}
#contenedor p{
	margin-left: 5px;
	margin-top: 10px;
}
/*estandarte con logo*/
#estandarte{
	background-color: rgb(23, 32, 42);
	display: block;
	width: 95%;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px 5px 5px;
}
#estandarte img{
	border-radius: 10px 10px 10px;
}
#estandarte p{
	float: right;
	font-size: 28px;
	margin-right: 15px;
}

;------------------------------------------------------------------

img{
  width: 100%;
}
.contenedor_loader{
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: all 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader,
.loader: before,
.loader: after {
  border-radius: 50%;
  width: 100;
  height: 100;
  animation: loader 1.5s infinite ease-in-out;
}

.loader{
  color: #46dff0;
  font-size: 13px;
  position: relative;
}

.loader: before,
.loader: after {
  content: '';
  position: absolute;
  top: 0;
}

.loader: before{
  left: -3.5em;
}
.loader: after{
  left: 3.5em;
}




/*menu de selección del administrador*/

#menuSeleccion ul{
		list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
}

#menuSeleccion li{
	font-size: 30px;
	float: center;
}

#menuSeleccion li a{
	margin: 7px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px 16px 16px;
	text-decoration: none;
	border-radius: 5px 5px 5px;
}
#menuSeleccion li a:hover{
	 background-color: #111;
	 border-radius: 5px 5px 5px;
}

/*Botones de selección*/

.button-list {
  list-style: none;
  padding: 0;
}

.button-list li {
  display: inline;
  margin-right: 10px; /* Espacio entre botones */
}

.button {
  background-color: #939DAC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Quitar subrayado de enlaces */
  
  width: 5000px; /* Ancho del botón */
  height: 1000px; /* Alto del botón */
}

.button:hover {
  background-color: #C0CBDA;
}